input {
    border: 2px oklch(58.8% 0.158 241.966) solid;
    height: 50px;
    padding: 0 10px;
    border-radius: 10px;
    width: 100%;
}

.input-wrap {
    position: relative;
}

.label {
    position: absolute;
    top: -8px;
    left: 18px;
    background-color: oklch(96.8% 0.007 247.896);
    padding: 0 6px;
    font-size: 12px;
    color: oklch(58.8% 0.158 241.966);
}

.not-valid {
    color: oklch(58.6% 0.253 17.585);
    border-color: oklch(58.6% 0.253 17.585);
}

button {
    border-radius: 10px;
    background-color: oklch(58.8% 0.158 241.966);
    height: 50px;
    color: oklch(96.8% 0.007 247.896);
}

button:disabled {
    background-color: oklch(70.7% 0.022 261.325);
}